body {
  background-color: #000000;
  margin: 0px;
}

li {
  font-size: large;
}

a:link {
  color: #00ff00;
}

a:visited {
  color:#ffa500
}

a:hover, a:active {
  color: #ff0000;
}

a {
  text-decoration: none;
}

.header {
  background-color: #000000;
  color: #ffff00;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.description {
  background-image: radial-gradient(#505050, black);
  color: #ffffff;
  font-family: 'Arial';
  text-align: center;
}

.description h1 {
  color: #00ff00;
}

.origami img {
  border: 2px solid #000000;
  border-radius: 50px;
}

.object:hover {
  transform: scale(1.1);
}

.object:hover img {
  opacity: 0.1;
}

.object:hover h3 {
  opacity: 1;
}

.object img {
  position: relative;
}

.object h3 {
  color: #505050;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hbgr {
  display: inline-block;
  cursor: pointer;
}

.b1, .b2, .b3 {
  display: flex;
  background-color: #ffffff;
  width: 50px;
  height: 5px;
  margin: 5px;
}

.origami {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px;
  flex-wrap: wrap;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: x-large;
}

.object {
  border: 1px solid #000000;
  border-radius: 20px;
  width: 335px;
  background-color: #ffffff;
  padding: 30px;
  margin: 25px;
}

.object ul {
  padding: 0px;
  font-size: larger;
  text-align: left;
}

h4 {
  font-size: x-large;
}